@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/Estedad-Regular.ttf");
}

* {
  font-family: "Estedad" !important;
}

.home-enter-active,
.home-leave-active {
  transition: opacity 1s;
}
.home-enter,
.home-leave-active {
  opacity: 0;
}
